body{
	font-family: 'Inknut Antiqua', serif;
	margin: 0;
}

h1{
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2{
	color: white;
	font-size: 18px;
	margin-top: 0;
}
h3{
	color: #0E5066;
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	margin-top: 100px;
}
h4 {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	color: #0E5066;

}
p {
	text-align: center;
	color: #0E5066;

}

.bio {
	color: white;
	font-size: 14px;
}

.me {
	height: 150px;
	border-radius: 100%; 
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}

.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.dark_white {
	height: 3px;
	background-color: #DEDEE0;
	border:none;
	width: 50px;
}

.dark_blue {
	border: 0px; 
	height: 3px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #22748F, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #22748F, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #22748F, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #22748F, #f0f0f0); 
	width: 300px;
}
.about-container {
	background: url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 750px;
}
.box {
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-top: 80px;

}
.clear {
	clear:both;
}
.full-width {
	width: 100%;
}
.skills-and-tools {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto; 
}